@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    background-color: black;
    color: #F6F6F6;

    /*Aqui é o esquema do border box opcao 3 https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing*/
    box-sizing: border-box;
    /* Nada sai do body!*/
    /* Abaixo é para visualização da "box-sizing" */
    width: 100%;
    border: solid hsl(0, 0%, 70%) 10px;
    padding: 5px;
}

.strong-destaque {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10% 15%;
}

.apresentacao__conteudo {
    width: 615px;

    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo_titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
}

.div__buttons {
    display: flex;
    justify-content: space-between;

}

.apresentacao__button {
    background-color: #22D4FD;
    color: #000000;

    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;

    width: 280px;
    padding: 21.5px 0;
    border-radius: 16px;
}