@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    background-color: black;
    color: #ffffff;

    box-sizing: flex;

    width: 100%;
    border: solid hsl(0, 0%, 70%) 10px;
    padding: 5px;

}

.strong-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo_titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
}